{% extends "includes/base.twig" %}

{% block scripts %}
    <script type="text/javascript" src="{{ staticurl }}/js/{{ pageroot }}.js"></script>
{% endblock %}

{% block content %}

<div class="col-xs-12">
	<form action="" method="POST" class="form-horizontal" role="form">
			
			<div class="form-group">
				<label class="col-xs-2 control-label" for="maptype">Map</label>
				<div class="col-xs-8">
					<select autofocus name="maptype" id="maptype" type="submit" class="form-control">
						{% for map in maps %}
						<option value="{{ map.id }}">{{ map.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label" for="maptype">Mods</label>
				<div class="col-xs-4">
					<select name="modlist" id="modlist" type="submit" class="form-control">
						{% for mod in mapmods %}
						<option value="{{ mod.id }}">{{ mod.name }} - {{ mod.mod | replace({'%s%':'x'})}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" id="modlist-filter" class="form-control" placeholder="filter">
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-primary">Add</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-10 col-xs-offset-2">
					<button type="submit" class="btn btn-primary">Start run</button>
				</div>
			</div>
	</form>
</div>

{% endblock %}
